body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

#game-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #007bff;
    color: white;
}

/* Ajustes para el botón "volver" */
.botonvolver {
    margin-top: 20px; /* Espaciado superior para separarlo de las tarjetas */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botonvolver:hover {
    background-color: #c82333;
}

